/**=====================
    tap to top css start
==========================**/

.tap-top {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 8;
    display: none;
    color: $white;
    text-align: center;
    background: var(--primary);
    border: none;
    font-size: 22px;
    padding: 7px;
    cursor: pointer;

    &.top-cls {
        bottom: 130px;
    }

    &.green-top {
        background-image: linear-gradient(to right, var(--primary), var(--theme-color2));
        border: 1px solid rgba($white, 0.5);
    }

    &.gradient-top {
        background: linear-gradient(180deg, var(--primary) 0%, var(--theme-color2) 99%);
    }
}