<form class="form-horizontal auth-form" [formGroup]="form" (ngSubmit)="submit()">
  
  <!-- Email -->
  <div class="form-group">
    <input 
      #inputEmail 
      formControlName="email" 
      name="email" 
      [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" 
      type="email"
      class="form-control" 
      placeholder="Email">
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email est requis</div>
      <div *ngIf="f['email'].errors['email']">Email doit être valide</div>
    </div>
  </div>

  <!-- Username -->
  <div class="form-group">
    <input 
      #inputnom 
      formControlName="username" 
      name="username" 
      [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" 
      type="text"
      class="form-control" 
      placeholder="Nom">
    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
      <div *ngIf="f['username'].errors['required']">Nom est requis</div>
      <div *ngIf="f['username'].errors['pattern']">Nom doit contenir uniquement des lettres</div>
    </div>
  </div>

  <!-- Password -->
  <div class="form-group">
    <input 
      #inputPass 
      formControlName="password" 
      name="password" 
      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" 
      type="password"
      class="form-control" 
      placeholder="Mot de passe">
    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
      <div *ngIf="f['password'].errors['required']">Mot de passe est requis</div>
      <div *ngIf="f['password'].errors['minlength']">Mot de passe minimum 6 caractères</div>
    </div>
  </div>

  <!-- Image Upload -->
  <div class="form-group">
    <label>Photo de profil (optionnel)</label>
    <input 
      type="file"
      class="form-control" 
      accept="image/*"
      (change)="onFileSelected($event)">
    <small class="form-text text-muted" *ngIf="selectedFile">
      Fichier sélectionné: {{ selectedFile.name }}
    </small>
  </div>

  <!-- reCAPTCHA -->
  <div class="form-group">
    <ngx-recaptcha2 
      #captchaElem
      [siteKey]="siteKey"
      formControlName="recaptcha" 
      [ngClass]="{ 'is-invalid': submitted && f['recaptcha'].errors }">
    </ngx-recaptcha2>
    <div *ngIf="submitted && f['recaptcha'].errors" class="invalid-feedback">
      <div *ngIf="f['recaptcha'].errors['required']">Recaptcha est requis</div>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="form-button">
    <button class="btn btn-primary" type="submit">S'inscrire</button>
  </div>

  <!-- Social Login -->
  <div class="form-footer">
    <span>Ou inscrivez-vous avec les réseaux sociaux</span>
    <ul class="social">
      <li><a class="ti-facebook" href="javascript:void(0)"></a></li>
      <li><a class="ti-twitter" href="javascript:void(0)"></a></li>
      <li><a class="ti-instagram" href="javascript:void(0)"></a></li>
      <li><a class="ti-pinterest" href="javascript:void(0)"></a></li>
    </ul>
  </div>
</form>