<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>profile</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">profile</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!-- personal detail section start -->
<br />
<br />
<div style="text-align: center">
  <div class="profile-top">
    <mat-card class="product-box-shop" *ngIf="user" [ngClass]="{'text-center': !fullWidthMode}">
      <div [ngClass]="{'flex': fullWidthMode}">
        <div>
          <img class="mb-1 mx-auto"
               [ngClass]="{'h-[360px]': fullWidthMode}" 
               [src]="imageUrl || getProfileImageUrl(user.image)"
               class="img-fluid" 
               alt="profile image" 
               [width]="200"
               [height]="100"
               style="border-radius: 100px">
          </div>    
          <div class="profile-detail">
            <h5>{{user.username }}</h5>
            <h6>{{user.email }}</h6>
          </div>
      </div>
    </mat-card>
  </div>
</div>

<div class="profile-content">
  <div class="row dashboard-info">
    <div class="col-lg-9">
      <div class="card dash-cards">
        <div class="card-header">
          <h4>Profile Details</h4>																
        </div>
        <div class="card-body">
          <div class="profile-form">
            <form [formGroup]="ProfileForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
              <div class="form-group">
                <label class="col-form-label">Username</label>
                <div class="pass-group group-img">
                  <span class="lock-icon"><i class="feather-user"></i></span>
                  <input type="text" class="form-control" formControlName="username" [value]="user.username">
                </div> 
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div class="form-group">
                    <label class="col-form-label">Adresse Email</label>
                    <div class="group-img">
                      <i class="feather-mail"></i>
                      <input type="email" class="form-control" formControlName="email" [value]="user.email">
                    </div>
                  </div>
                </div>											
              </div>	
              <div class="form-group">
                <input formControlName="image" #fileInput type="file" class="form-control" (change)="onFileSelected($event)">
                <!-- <img [src]="imageUrl" *ngIf="imageUrl" alt="profile image" width="200" height="200"> -->
              </div>
              <button class="btn btn-primary w-100 login-btn" type="submit">Update Profile</button>
            </form>
          </div> 
        </div>								
      </div>	
    </div>

    <div class="col-lg-3">
      <div class="profile-sidebar">
        <div class="card">
          <div class="card-header">
            <h4>Changer Mot de Passe</h4>
          </div>	
          <div class="card-body">
            <!-- <form [formGroup]="PasswordForm" (ngSubmit)="updatePassword()">
              <div class="form-group">
                <label class="col-form-label">Mot de Passe Courant</label>
                <div class="pass-group group-img">
                  <span class="lock-icon"><i class="feather-lock"></i></span>
                  <input type="password" class="form-control pass-input" placeholder="Mot de Passe">													
                </div>
              </div>
              <div class="form-group">
                <label class="col-form-label">Nouveau Mot de Passe</label>
                <div class="pass-group group-img">
                  <span class="lock-icon"><i class="feather-lock"></i></span>
                  <input type="password" class="form-control pass-input" value=".............." formControlName="password">
                  <span  [ngClass]="Toggledata == true ? 'toggle-password feather-eye' : 'toggle-password feather-eye-off'"  (click)="iconLogle()"></span>
                </div>
              </div>	 -->
              <button class="btn btn-primary" [routerLink]="['/changermotdepasse', idUser]"> Changer Mot de Passe</button>											
            <!-- </form>								 -->
          </div>  									
        </div>							
      </div>
    </div>							
  </div>				
</div>
